@import '~@react-md/theme/dist/color-palette';

$rmd-theme-primary: $rmd-cyan-500;
$rmd-theme-secondary: $rmd-pink-a-200;

@import '~react-md/dist/react-md';
@include react-md-utils;

$rmd-utils-desktop-min-width: 92em;
$rmd-utils-large-desktop-min-width: 120em;

@import 'forms/form-1-1-1-1';
@import 'forms/form-1-2-2-2';

.flex {
    display: flex;
    align-items: center;
}

.loading-button-progress {
    width: 15px;
    height: 15px;
    margin: 0 10px 0 0;
}

@for $i from 0 through 24 {
    .elevation-#{$i} {
        @include rmd-elevation($i);
        @include rmd-theme-dark-elevation($i, true);
    }
}
